<html>

<head>
    <title>Account Manager</title>
    <script src='/static/js/jquery-3.3.1.js'></script>
    <script src='/static/js/updatever.js'></script>
    <script src='/static/js/vue.min.js'></script>
    <script src="/static/js/text.js"></script>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
    <script>
        var vms = [];
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return pair[1]; }
            }
            return (false);
        }
        function changeLanguage(l) {
            switch (l) {
                case "zh":
                    language_dict = dict_zh_cn;
                    break;
                default:
                    language_dict = dict_en_us;
            }
            for (let i = 0; i < vms.length; i++) {
                Vue.set(vms[i], "labels", language_dict);
            }
        }
        var language_dict = {};
        if (getQueryVariable("language") == "zh") {
            language_dict = dict_zh_cn;
        } else {
            language_dict = dict_en_us;
        }
    </script>
    {% block head %}{% endblock %}
</head>

<body onload="updatever()">
    <div id="NavBody">
        {% raw %}
        <div id="Version-nav">
            <div id="Version-label" style="width:45%;float:left;">
                &emsp;&emsp;{{ labels["Version"] }}
            </div>
            <div id="Version-choice" style="width:45%;float:left;">
                <span id="ver"></span>
            </div>
        </div>
        <br><br>
        <div id="language-nav">
            <div id="language-label" style="width:45%;float:left;">
                <div id="language-label" style="width:45%;float:left;">
                    &emsp;&emsp;{{labels["Language"]}}
                </div>
            </div>
            {% endraw %}
            <div id="language-choice" style="width:45%;float:left;">
                <button onclick="changeLanguage('en')">English</button>&emsp;&emsp;<button
                    onclick="changeLanguage('zh')">简体中文</button>
            </div>
        </div>
        <br><br>
        <div id="function-nav">
            <div id="function-label" style="width:45%;float:left;">
                {% raw %}
                &emsp;&emsp;{{labels["Function"]}}
                {% endraw %}
            </div>
            <div id="function-choice" style="width:45%;float:left;">
                <a href="{{get_urls('index')}}">
                    <button>{%raw%}{{labels["Generation"]}}{%endraw%}</button>
                </a>&emsp;&emsp;
                <a href="{{get_urls('search')}}"><button>{%raw%}{{labels["Search"]}}{%endraw%}</button></a>&emsp;&emsp;
                <a href="{{get_urls('update')}}"><button>{%raw%}{{labels["Update"]}}{%endraw%}</button></a>&emsp;&emsp;
                <a href="{{get_urls('Restore')}}"><button>{%raw%}{{labels["Restore"]}}{%endraw%}</button></a>
            </div>
        </div>
        <br><br>
    </div>

    <script>
        var n_vm = new Vue({
            el: "#NavBody",
            data: {
                labels: language_dict,
            }
        })
        vms.push(n_vm);
    </script>
    {% block body %}{% endblock %}
</body>

</html>