<html>

<head>
    <title>Account Manager</title>
    <script src='/static/js/jquery-3.3.1.js'></script>
    <script src='/static/js/updatever.js'></script>
    <script src='/static/js/vue.min.js'></script>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
    {% block head %}{% endblock %}
</head>

<body onload="updatever()">
    <div id="NavBody">
        {% raw %}
        <div id="Version-nav">
            <div id="Version-label" style="width:45%;float:left;">
                &emsp;&emsp;{{ labels[0] }}
            </div>
            <div id="Version-choice" style="width:45%;float:left;">
                <span id="ver"></span>
            </div>
        </div>
        <br><br>
        <div id="language-nav">
            <div id="language-label" style="width:45%;float:left;">
                <div id="language-label" style="width:45%;float:left;">
                    &emsp;&emsp;{{labels[1]}}
                </div>
            </div>
            {% endraw %}
            <div id="language-choice" style="width:45%;float:left;">
                {% if position=="search" %}
                <a href="{{ get_urls('search') }}"><button>English</button></a>&emsp;&emsp;<a
                    href="{{ get_urls('search_zh') }}"><button> 简体中文</button></a>
                {% elif position == "update" %}
                <a href="{{ get_urls('update') }}"><button>English</button></a>&emsp;&emsp;<a
                    href="{{ get_urls('update_zh') }}"><button> 简体中文</button></a>
                {% elif position == "Restore" %}
                <a href="{{ get_urls('Restore') }}"><button>English</button></a>&emsp;&emsp;<a
                    href="{{ get_urls('Restore_zh') }}"><button> 简体中文</button></a>
                {% else %}
                <a href="{{ get_urls('index') }}"><button>English</button></a>&emsp;&emsp;<a
                    href="{{ get_urls('index_zh') }}"><button> 简体中文</button></a>
                {% endif %}
            </div>
        </div>
        <br><br>
        <div id="function-nav">
            <div id="function-label" style="width:45%;float:left;">
                {% raw %}
                &emsp;&emsp;{{labels[2]}}
                {% endraw %}
            </div>
            {% if language=="zh" %}
            <div id="function-choice" style="width:45%;float:left;">
                <a href="{{ get_urls('index_zh') }}"><button>生成器</button></a>&emsp;&emsp;<a
                    href="{{get_urls('search_zh')}}"><button>搜索</button></a>&emsp;&emsp;<a
                    href="{{get_urls('update_zh')}}"><button>更新</button></a>&emsp;&emsp;<a
                    href="{{get_urls('Restore_zh')}}"><button>恢复</button></a>
            </div>
            {% else %}
            <div id="function-choice" style="width:45%;float:left;">
                <a href="{{ get_urls('index') }}"><button>Generation</button></a>&emsp;&emsp;<a
                    href="{{get_urls('search')}}"><button>Search</button></a>&emsp;&emsp;<a
                    href="{{get_urls('update')}}"><button>Update</button></a>&emsp;&emsp;<a
                    href="{{get_urls('Restore')}}"><button>Restore</button></a>
            </div>
            {% endif %}
        </div>
        <br><br>
    </div>

    <script>
        var n_vm = new Vue({
            el: "#NavBody",
            data: {
                {% if language == "zh" %}
        labels: ["版本", "语言", "功能", "登录帐号", "登录密码", "登录"],
            {% else %}
        labels: ["Version", "Language", "Function", "Login Account", "Login Password", "Login"],
            {% endif %}
            }
        })
    </script>
    {% block body %}{% endblock %}
</body>

</html>