{% extends "base.html" %}
{% block head %}
<script>
    $(document).ready(function () {
        $("#Generate").click(function () {
            Generate_Data();
        })
        $("#Save").click(function () {
            var t = $("input[name='Password_Saveitem']:checked").val();
            switch (t) {
                case "1":
                case "2":
                case "3":
                    Save_Item($('#pw' + t).val());
                    break;
                case "max":
                    Save_Item($('#pwmax').val());
                    break;
            }
        })
    });
    function Generate_Data() {
        if (!document.getElementById('Account_Key').checked) {
            $.get("{{get_urls('getAccount')}}", function (data) {
                Generate_AccountStr = data;
                document.getElementById("Result_Account").value = Generate_AccountStr;
            })
        }
        $.get("{{get_urls('getPW')}}", function (data) {
            var jsons = JSON.parse(data);
            document.getElementById("pw1").value = jsons["pw1"];
            document.getElementById("pw2").value = jsons["pw2"];
            document.getElementById("pw3").value = jsons["pw3"];
            document.getElementById("pwmax").value = jsons["pwmax"];
        }
        )
    }
    function Save_Item(Save_Item_Password) {
        if ($('#Result_Account').val() != "") { var resa = $('#Result_Account').val(); } else { throw "NoAccount"; }
        if (Save_Item_Password != "") { var sip = Save_Item_Password; } else { throw "NoPassword"; }
        $.post("{{ get_urls('Save_Result_to_sql') }}", {
            AddressStr: $('#Address').val(),
            AccountStr: resa,
            password: sip,
            Text: $('#text').val()
        }, function (data) {
            alert(i_vm.alert_text);
        })
    }
</script>
{% endblock %}
{% block body %}
{% raw %}
<div id="IndexBody">
    <div id="Generated_Result-div">
        <hr>
        <p align="center">{{ labels["Generated Result"] }} </p>
        <hr><br>
        <div id="Generate-label-Address" style="width:45%;float:left;">
            &emsp;&emsp;{{ labels["Address"] }}
        </div>
        <div id="Generate-input-Address" style="width:45%;float:left;">
            <input id="Address" />
        </div>
        <br><br>
        <div id="Generated_Result-label-Account" style="width:45%;float:left;">
            &emsp;&emsp;{{ labels["Account"] }}
        </div>
        <div id="Generated_Result-input-Account" style="width:45%;float:left;">
            <input id="Result_Account" />&emsp;{{ labels["Fixed"] }}&emsp;<input type='checkbox' id="Account_Key" />
        </div>
        <br><br>
        <div id="Generated_Result-label-Password_lv1" style="width:45%;float:left;">
            &emsp;&emsp;{{ labels["Password"] }} lv 1
        </div>
        <div id="Generated_Result-input-Password_lv1" style="width:45%;float:left;">
            <input id="pw1" />&emsp;<input type="radio" name="Password_Saveitem" value="1">
        </div>
        <br><br>
        <div id="Generated_Result-label-Password_lv2" style="width:45%;float:left;">
            &emsp;&emsp;{{ labels["Password"] }} lv 2
        </div>
        <div id="Generated_Result-input-Password_lv2" style="width:45%;float:left;">
            <input id="pw2" />&emsp;<input type="radio" name="Password_Saveitem" value="2">
        </div>
        <br><br>
        <div id="Generated_Result-label-Password_lv3" style="width:45%;float:left;">
            &emsp;&emsp;{{ labels["Password"] }} lv 3
        </div>
        <div id="Generated_Result-input-Password_lv3" style="width:45%;float:left;">
            <input id="pw3" />&emsp;<input type="radio" name="Password_Saveitem" value="3">
        </div>
        <br><br>
        <div id="Generated_Result-label-Password_lvmax" style="width:45%;float:left;">
            &emsp;&emsp;{{ labels["Password"] }} lv max
        </div>
        <div id="Generated_Result-input-Password_lvmax" style="width:45%;float:left;">
            <input id="pwmax" size="70" />&emsp;<input type="radio" name="Password_Saveitem" value="max" checked>
        </div>
        <br><br>
        <div id="Generated_Result-label-text" style="width:45%;float:left;">
            &emsp;&emsp;{{ labels["Text"] }}
        </div>
        <div id="Generated_Result-input-text" style="width:45%;float:left;">
            <input id="text" size="50" />
        </div>
        <br><br>
        <p align="center">
            <input type="button" id='Generate' :value="labels['Generate']" />&emsp;&emsp;
            <input type="button" id='Save' :value="labels['Save Result']" />
        </p>
    </div>
</div>
{% endraw %}
<script>
    var i_vm = new Vue({
        el: "#IndexBody",
        data: {
            i: 0,
            labels: language_dict,
            alert_text: language_dict["Succ"]
        }
    })
    vms.push(i_vm);
</script>
{% endblock %}