<html>
	{% include "nav.html" %}
	<script>
		$(document).ready(function(){
			$("#Generate").click(function(){
				Generate_Account();
			})
			$("#Save").click(function(){
				switch( $("input[name='Password_Saveitem']:checked").val() ) {
					case "1":
						Save_Item( $('#pw1').val() );
						break;
					case "2":
						Save_Item( $('#pw2').val() );
						break;
					case "3":
						Save_Item( $('#pw3').val() );
						break;
					case "max":
						Save_Item( $('#pwmax').val() );
						break;

				}
			})
		});
		function Generate_Account(){
			if (document.getElementById('Account_Key').checked){
				Generate_AccountStr = $('#Account').val();
				document.getElementById('Result_Account').value = Generate_AccountStr;

				Generate_pw()
			}
			else {
				$.get("{{get_urls('getAccount')}}",function(data){
					Generate_AccountStr = data;
					document.getElementById("Result_Account").value = Generate_AccountStr;

					Generate_pw()
				})
				
			}
		}
		function Generate_pw(){
				$.get("{{get_urls('getPW')}}",function(data){
					var jsons = JSON.parse(data);
					document.getElementById("pw1").value = jsons["pw1"];
				document.getElementById("pw2").value = jsons["pw2"];
				document.getElementById("pw3").value = jsons["pw3"];
				document.getElementById("pwmax").value = jsons["pwmax"];
				}
			)
		}
		function Save_Item(Save_Item_Password){
			if ($('#text').val()=="" && $('#Address').val()=="")
			{
				$.post("{{ get_urls('Save_Result_to_sql') }}",{
					AccountStr:$('#Result_Account').val(),
					password:Save_Item_Password
				},function(data){
					{% if language=="zh" %}
					alert("成功");
					{% else %}
					alert("succ");
					{% endif %}
				})
			}else if ($('#text').val()=="" || $('#Address').val()==""){
				if ($('#text').val()==""){
					$.post("{{ get_urls('Save_Result_to_sql') }}",{
					AddressStr:$('#Address').val(),
					AccountStr:$('#Result_Account').val(),
					password:Save_Item_Password
					},function(data){
						{% if language=="zh" %}
						alert("成功");
						{% else %}
						alert("succ");
						{% endif %}
					})
				}else{
				$.post("{{ get_urls('Save_Result_to_sql') }}",{
					AccountStr:$('#Result_Account').val(),
					password:Save_Item_Password,
					Text:$('#text').val()
					},function(data){
						{% if language=="zh" %}
						alert("成功");
						{% else %}
						alert("succ");
						{% endif %}
					})
				}
			}else{
				$.post("{{ get_urls('Save_Result_to_sql') }}",{
					AddressStr:$('#Address').val(),
					AccountStr:$('#Result_Account').val(),
					password:Save_Item_Password,
					Text:$('#text').val()
				},function(data){
					{% if language=="zh" %}
					alert("成功");
					{% else %}
					alert("succ");
					{% endif %}
				})
			}
		}
    </script>
	<hr>
	<br>
	<div id="Generate-div">
		<div id="Generate-label-Account" style="width:45%;float:left;">
			{% if language=="zh" %}
			&emsp;&emsp;账号
			{% else %}
			&emsp;&emsp;Account
			{% endif %}
		</div>
		<div id="Generate-input-Account" style="width:45%;float:left;">
			<input id="Account" />
		</div>
		<br><br>
		<div id="Generate-label-Used_Account_Key" style="width:45%;float:left;">
			{% if language=="zh" %}
			&emsp;&emsp;使用自定义账号
			{% else %}
			&emsp;&emsp;Used Account Key
			{% endif %}
		</div>
		<div id="Generate-choice-text" style="width:45%;float:left;">
			<input type='checkbox' id="Account_Key" />
		</div>
	</div>
	<br>
	<p align="center"><input type="button" id='Generate' value="Generate"></p>
	<br>
	{% if language=="zh" %}
	<hr><p align="center">生成结果 </p><hr><br>
	{% else %}
	<hr><p align="center"> Generated Result </p><hr><br>
	{% endif %}
	{% if language=="zh" %}
	<div id="Generated_Result-div">
		<div id="Generate-label-Address" style="width:45%;float:left;">
			&emsp;&emsp;地址
		</div>
		<div id="Generate-input-Address" style="width:45%;float:left;">
			<input id="Address" />
		</div>
		<br><br>
		<div id="Generated_Result-label-Account" style="width:45%;float:left;">
			&emsp;&emsp;账号
		</div>
		<div id="Generated_Result-input-Account" style="width:45%;float:left;">
			<input id="Result_Account" />
		</div>
		<br><br>
		<div id="Generated_Result-label-Password_lv1" style="width:45%;float:left;">
			&emsp;&emsp;密码 lv 1
		</div>
		<div id="Generated_Result-input-Password_lv1" style="width:45%;float:left;">
			<input id="pw1" />&emsp;<input type="radio" name="Password_Saveitem" value="1">
		</div>
		<br><br>
		<div id="Generated_Result-label-Password_lv2" style="width:45%;float:left;">
			&emsp;&emsp;密码 lv 2
		</div>
		<div id="Generated_Result-input-Password_lv2" style="width:45%;float:left;">
			<input id="pw2" />&emsp;<input type="radio" name="Password_Saveitem" value="2">
		</div>
		<br><br>
		<div id="Generated_Result-label-Password_lv3" style="width:45%;float:left;">
			&emsp;&emsp;密码 lv 3
		</div>
		<div id="Generated_Result-input-Password_lv3" style="width:45%;float:left;">
			<input id="pw3" />&emsp;<input type="radio" name="Password_Saveitem" value="3">
		</div>
		<br><br>
		<div id="Generated_Result-label-Password_lvmax" style="width:45%;float:left;">
			&emsp;&emsp;密码 lv max
		</div>
		<div id="Generated_Result-input-Password_lvmax" style="width:45%;float:left;">
			<input id="pwmax" size="70"/>&emsp;<input type="radio" name="Password_Saveitem" value="max" checked>
		</div>
		<br><br>
		<div id="Generated_Result-label-text" style="width:45%;float:left;">
			&emsp;&emsp;标注
		</div>
		<div id="Generated_Result-input-text" style="width:45%;float:left;">
			<input id="text" size="50"/>
		</div>
		<br><br>
	</div>
	<p align="center"> <input type="button" id='Save' value="保存结果"/></p>
	{% else %}
	<div id="Generated_Result-div">
		<div id="Generate-label-Address" style="width:45%;float:left;">
			&emsp;&emsp;Address
		</div>
		<div id="Generate-input-Address" style="width:45%;float:left;">
			<input id="Address" />
		</div>
		<br><br>
		<div id="Generated_Result-label-Account" style="width:45%;float:left;">
			&emsp;&emsp;Account
		</div>
		<div id="Generated_Result-input-Account" style="width:45%;float:left;">
			<input id="Result_Account" />
		</div>
		<br><br>
		<div id="Generated_Result-label-Password_lv1" style="width:45%;float:left;">
			&emsp;&emsp;Password lv 1
		</div>
		<div id="Generated_Result-input-Password_lv1" style="width:45%;float:left;">
			<input id="pw1" />&emsp;<input type="radio" name="Password_Saveitem" value="1">
		</div>
		<br><br>
		<div id="Generated_Result-label-Password_lv2" style="width:45%;float:left;">
			&emsp;&emsp;Password lv 2
		</div>
		<div id="Generated_Result-input-Password_lv2" style="width:45%;float:left;">
			<input id="pw2" />&emsp;<input type="radio" name="Password_Saveitem" value="2">
		</div>
		<br><br>
		<div id="Generated_Result-label-Password_lv3" style="width:45%;float:left;">
			&emsp;&emsp;Password lv 3
		</div>
		<div id="Generated_Result-input-Password_lv3" style="width:45%;float:left;">
			<input id="pw3" />&emsp;<input type="radio" name="Password_Saveitem" value="3">
		</div>
		<br><br>
		<div id="Generated_Result-label-Password_lvmax" style="width:45%;float:left;">
			&emsp;&emsp;Password lv max
		</div>
		<div id="Generated_Result-input-Password_lvmax" style="width:45%;float:left;">
			<input id="pwmax" size="70"/>&emsp;<input type="radio" name="Password_Saveitem" value="max" checked>
		</div>
		<br><br>
		<div id="Generated_Result-label-text" style="width:45%;float:left;">
			&emsp;&emsp;Text
		</div>
		<div id="Generated_Result-input-text" style="width:45%;float:left;">
			<input id="text" size="50"/>
		</div>
		<br><br>
	</div>
	<p align="center"> <input type="button" id='Save' value="Save Result"/></p>
	{% endif %}
</body>
</html>