{% extends "base.html" %}
{% block body %}
<div id="ResBody">
	<hr>{% raw %}
	<p align="center">{{ labels["Restore"] }}</p>
	<hr>
	<div id="Restore">
		<div id="Restore-label" style="width:45%;float:left;">
			&emsp;&emsp;{{ labels["File"] }}
		</div>
		<div id="Restore-choice-file" style="width:45%;float:left;">
			<form method="POST" enctype="multipart/form-data">
				<input type="file" name="db_file">
				<input type="submit" :value="labels['Upload']">
				<input name="language" style="display:none;" value="" />
			</form>
		</div>
		<p align="center" id="Status"></p>
	</div>
	{% endraw %}
	<div id="Restore-Status" style="width:85%;float:left;">
		<p align='center'>{{ Status }}</p>
		<p align='center'>{{ Date }}</p>
	</div>
</div>
<script>
	var r_vm = new Vue({
		el: "#ResBody",
		data: {
			labels: language_dict
		}
	})
	vms.push(r_vm);
</script>
{% endblock %}