<html>
{% include "nav.html" %}
		<script>
		$(document).ready(function(){
				$("#Search_button").click(function(){
					alert('succ');
					switch( $("input[name='Search_select_button']:checked").val() ) {
						case "0":
							Searched_Item( $("input[name='Search_select_button']:checked").val() , $('#Search_Address').val() );
							break;
						case "1":
							Searched_Item( $("input[name='Search_select_button']:checked").val() , $('#Search_Account').val() );
							break;
						case "2":
							Searched_Item( $("input[name='Search_select_button']:checked").val() , $('#Search_Password').val() );
							break;
						case "3":
							Searched_Item( $("input[name='Search_select_button']:checked").val() , $('#Search_Text').val() );
							break;
					}
				})
			})
		function Searched_Item(key,keyword){
		$.post("{{ get_urls('Search_item') }}",{
				key:key,
				keyword:keyword
			},function(data){
				document.getElementById('Searched').innerHTML = data;
			})
		}
		</script>
		<hr>
		{% if language=="zh" %}
		<p align="center">搜索</p>
		<hr>
		<div id="search">
			<div id="search-label-Address" style="width:45%;float:left;">
				&emsp;&emsp;地址
			</div>
			<div id="search-choice-Address" style="width:45%;float:left;">
				<input id="Search_Address" />&emsp;<input type="radio" id="Search_item" value="0" name="Search_select_button" checked>
			</div>
			<br><br>
			<div id="search-label-Account" style="width:45%;float:left;">
				&emsp;&emsp;账号
			</div>
			<div id="search-choice-Account" style="width:45%;float:left;">
				<input id="Search_Account" />&emsp;<input type="radio" id="Search_item" value="1" name="Search_select_button">
			</div>
			<br><br>
			<div id="search-label-Password" style="width:45%;float:left;">
					&emsp;&emsp;密码
			</div>
			<div id="search-choice-Password" style="width:45%;float:left;">
					<input id="Search_Password" />&emsp;<input type="radio" id="Search_item" value="2" name="Search_select_button">
			</div>
			<br><br>
	
			<div id="search-label-Text" style="width:45%;float:left;">
					&emsp;&emsp;标注
			</div>
			<div id="search-choice-Text" style="width:45%;float:left;">
					<input id="Search_Text" />&emsp;<input type="radio" id="Search_item" value="3" name="Search_select_button">
			</div>
			<br><br>
			<p align="center"><input type="button" id='Search_button' value="Search"/></p>
			<br>
		</div>
		<hr>
		<p align="center" id='Searched'>无</p>
		{% else %}
		<p align="center">Search</p>
		<hr>
		<div id="search">
			<div id="search-label-Address" style="width:45%;float:left;">
				&emsp;&emsp;Address
			</div>
			<div id="search-choice-Address" style="width:45%;float:left;">
				<input id="Search_Address" />&emsp;<input type="radio" id="Search_item" value="0" name="Search_select_button" checked>
			</div>
			<br><br>
			<div id="search-label-Account" style="width:45%;float:left;">
				&emsp;&emsp;Account
			</div>
			<div id="search-choice-Account" style="width:45%;float:left;">
				<input id="Search_Account" />&emsp;<input type="radio" id="Search_item" value="1" name="Search_select_button">
			</div>
			<br><br>
			<div id="search-label-Password" style="width:45%;float:left;">
					&emsp;&emsp;Password
			</div>
			<div id="search-choice-Password" style="width:45%;float:left;">
					<input id="Search_Password" />&emsp;<input type="radio" id="Search_item" value="2" name="Search_select_button">
			</div>
			<br><br>
	
			<div id="search-label-Text" style="width:45%;float:left;">
					&emsp;&emsp;Text
			</div>
			<div id="search-choice-Text" style="width:45%;float:left;">
					<input id="Search_Text" />&emsp;<input type="radio" id="Search_item" value="3" name="Search_select_button">
			</div>
			<br><br>
			<p align="center"><input type="button" id='Search_button' value="Search"/></p>
			<br>
		</div>
		<hr>
		<p align="center" id='Searched'>None</p>
		{% endif %}
</body>
</html>