{% extends "base.html" %} {% block body %}
<div id="UpdateBody">
    <script>
        $(document).ready(function() {
            $("#Update_button").click(function() {
                Update_Item($("#Update_Date").val(), $("#Update_Text").val())
            })
        })

        function Update_Item(Date, Text) {
            $.post("{{ get_urls('Update_Text') }}", {
                DateStr: Date,
                TextStr: Text
            }, function(data) {
                alert(u_vm.alert_text);
            })
        }
    </script>
    {% raw %}
    <table class="table table-condensed">
        <tr>
            <td colspan=5>{{labels["Update Text"]}}</td>
        </tr>
        <tr>
            <td colspan=2><label for="Update_Date">{{labels["Date"]}}</label></td>
            <td colspan=3><input id="Update_Date" class="form-control" /></td>
        </tr>
        <tr>
            <td colspan=2><label for="Update_Text">{{labels["Text"]}}</label></td>
            <td colspan=3><input id="Update_Text" class="form-control" /></td>
        </tr>
        <tr>
            <td colspan=2></td>
            <td><input type="button" id='Update_button' :value="labels['Update']" class="btn btn-md" /></td>
            <td colspan=2></td>
        </tr>
    </table>
    {% endraw %}
</div>
<script>
    var u_vm = new Vue({
        el: "#UpdateBody",
        data: {
            labels: language_dict,
            alert_text: language_dict["Succ"],
        }
    })
    vms.push(u_vm);
</script>
{% endblock %}