{% extends "base.html" %}
{% block body %}
<div id="UpdateBody">
	<script>
		$(document).ready(function () {
			$("#Update_button").click(function () {
				Update_Item($("#Update_Date").val(), $("#Update_Text").val())
			})
		})
		function Update_Item(Date, Text) {
			$.post("{{ get_urls('Update_Text') }}", {
				DateStr: Date,
				TextStr: Text
			}, function (data) {
				alert(u_vm.alert_text);
			})
		}
	</script>
	<hr>
	{% raw %}
	<p align="center">{{labels["Update Text"]}}</p>
	<hr>
	<div id="Update">
		<div id="update-label-date" style="width:45%;float:left;">
			&emsp;&emsp;{{labels["Date"]}}
		</div>
		<div id="update-choice-date" style="width:45%;float:left;">
			<input id="Update_Date" />
		</div>
		<br><br>
		<div id="update-label-text" style="width:45%;float:left;">
			&emsp;&emsp;{{labels["Text"]}}
		</div>
		<div id="update-choice-text" style="width:45%;float:left;">
			<input id="Update_Text" />
		</div>
	</div>
	<br>
	<p align="center"><input type="button" id='Update_button' :value="labels['Update']" /></p>
	{% endraw %}
</div>
<script>
	var u_vm = new Vue({
		el: "#UpdateBody",
		data: {
			labels: language_dict,
			alert_text: language_dict["Succ"],
		}
	})
	vms.push(u_vm);
</script>
{% endblock %}