{% extends "base.html" %}
{% block body %}
<div id="UpdateBody">
	<script>
		$(document).ready(function () {
			$("#Update_button").click(function () {
				Update_Item($("#Update_Date").val(), $("#Update_Text").val())
			})
		})
		function Update_Item(Date, Text) {
			$.post("{{ get_urls('Update_Text') }}", {
				DateStr: Date,
				TextStr: Text
			}, function (data) {
				alert(u_vm.alert_text);
			})
		}
	</script>
	<hr>
	{% raw %}
	<p align="center">{{labels[0]}}</p>
	<hr>
	<div id="Update">
		<div id="update-label-date" style="width:45%;float:left;">
			&emsp;&emsp;{{labels[1]}}
		</div>
		<div id="update-choice-date" style="width:45%;float:left;">
			<input id="Update_Date" />
		</div>
		<br><br>
		<div id="update-label-text" style="width:45%;float:left;">
			&emsp;&emsp;{{labels[2]}}
		</div>
		<div id="update-choice-text" style="width:45%;float:left;">
			<input id="Update_Text" />
		</div>
	</div>
	<br>
	<p align="center"><input type="button" id='Update_button' value="{{labels[3]}}" /></p>
	{% endraw %}
</div>
<script>
	var u_vm = new Vue({
		el: "#UpdateBody",
		data: {
			{% if language == "zh" %}
	labels: ["更新标注", "日期", "标注", "更新"],
		alert_text: "成功",
			{% else %}
	labels: ["Update Text", "Date", "Text", "Update"],
		alert_text: "Succ",
			{% endif %}
		}
	})
</script>
{% endblock %}