<html>
{% include "nav.html" %}
	<script>
		$(document).ready(function(){
				$("#Update_button").click(function(){
					Update_Item( $("#Update_Date").val() , $("#Update_Text").val())
				})
			})
		function Update_Item(key,keyword){
			$.get("/Update_Text/"+key+"/"+keyword ,function(){
				{% if language=="zh" %}
					alert("成功");
					{% else %}
					alert("succ");
					{% endif %}
			})	
		}
		</script>
	<hr>
	{% if language=="zh" %}
	<p align="center">更新</p>
	<hr>
	<div id="Update">
		<div id="update-label-date" style="width:45%;float:left;">
			&emsp;&emsp;日期
		</div>
		<div id="update-choice-date" style="width:45%;float:left;">
				<input id="Update_Date" />
		</div>
		<br><br>
		<div id="update-label-text" style="width:45%;float:left;">
				&emsp;&emsp;标注
			</div>
			<div id="update-choice-text" style="width:45%;float:left;">
					<input id="Update_Text" />
			</div>
	</div>
	<br>
	<p align="center"><input type="button" id='Update_button' value="更新"/></p>
	{% else %}
	<p align="center">Update</p>
	<hr>
	<div id="Update">
		<div id="update-label-date" style="width:45%;float:left;">
			&emsp;&emsp;Date
		</div>
		<div id="update-choice-date" style="width:45%;float:left;">
				<input id="Update_Date" />
		</div>
		<br><br>
		<div id="update-label-text" style="width:45%;float:left;">
			&emsp;&emsp;Text
		</div>
		<div id="update-choice-text" style="width:45%;float:left;">
				<input id="Update_Text" />
		</div>
	</div>
	<br>
	<p align="center"><input type="button" id='Update_button' value="Update"/></p>
	{% endif %}
</body>
</html>